#filter substitution

#define mullvad_icon data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='254px' height='254px' viewBox='0 0 254 254' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0.7,127 C0.7,196.8 57.3,253.3 127,253.3 C196.7,253.3 253.3,196.8 253.3,127 C253.3,57.2 196.8,0.7 127,0.7 C57.2,0.7 0.7,57.2 0.7,127 L0.7,127 L0.7,127 L0.7,127 Z' id='bg' fill='%23192E45' /%3E%3Cpath d='M17.6,111.9 L27.2,98.5 C27.2,98.6 26.6,117.8 26.6,117.8 L29.3,103.3 C37.3,119.5 56.9,141.9 74.8,153.9 C76.7,155.2 78.3,156.6 79.4,158 C81.7,158.9 84,159.4 86.3,159.8 C87.5,160 88.8,160.1 90,160.2 C91.2,160.3 92.5,160.3 93.7,160.3 C94.9,160.3 96.1,160.2 97.3,160.1 C98.5,160 99.7,159.8 100.9,159.6 C102.1,159.4 103.3,159.2 104.4,158.8 C105.6,158.5 106.7,158.2 107.9,157.8 C109,157.5 110.2,157 111.3,156.6 C112.4,156.1 113.5,155.7 114.6,155.1 C115.7,154.5 116.8,154 117.8,153.4 C118.9,152.9 119.9,152.2 121,151.6 C122.1,151 123.1,150.3 124.2,149.7 C125.3,149.1 126.3,148.4 127.3,147.8 C128.3,147.1 129.4,146.5 130.4,145.8 C131.4,145.1 132.5,144.5 133.6,143.8 L134.6,143.2 L135.1,143.5 L142.3,148.3 L135,146.4 C134.3,147.2 133.6,148 132.8,148.8 C131.9,149.7 130.9,150.6 130,151.5 C129,152.3 128,153.2 126.9,153.9 C125.8,154.7 124.8,155.4 123.6,156.1 C121.4,157.5 119,158.7 116.5,159.7 C115.3,160.2 114,160.7 112.8,161.1 C111.5,161.5 110.3,161.9 109,162.2 C107.7,162.5 106.4,162.8 105.1,163 C103.8,163.2 102.5,163.3 101.2,163.5 C98.6,163.6 95.9,163.6 93.3,163.2 C92,163 90.7,162.8 89.4,162.5 C88.1,162.2 86.9,161.8 85.7,161.4 C83.6,160.6 81.5,159.6 79.6,158.4 C79.6,158.4 72.7,159.4 75.5,164.6 C78.3,169.8 82.5,169.3 80.5,175.4 C79.1,178.7 77.1,181.9 74.9,184.9 C70.3,191.1 63.1,196.6 63.8,199.9 C96.5,240.2 170.2,234.6 198.2,198.6 C197.8,193.4 189.6,190.9 183.9,178.2 C185.5,178.7 187.9,179.4 187.9,179.3 C187.9,179.2 181.1,168.2 180.8,167.1 L185.2,167.4 C185.2,167.4 179.4,160.2 179.2,159.5 L185.1,158.7 C185.1,158.7 177.7,150.2 177.6,149.5 L185.1,150.7 L176.9,140.8 L180.8,140.8 L176.2,134.1 C175.4,133.8 174.6,133.6 173.8,133.4 C172.8,133.1 171.8,132.8 170.8,132.5 C159.6,129 149,125.8 138.8,119.4 C124.5,110.5 111.7,99.6 102.1,91.1 L82.8,81.7 C64.3,80.3 46.9,80.8 36.3,82.9 L43.1,71.3 L32.7,83.8 C32,83.6 31.8,83.2 31.8,83.2 L32.5,67.8 L29.2,81.7 C28.2,81.2 27,81 25.8,81 C21.2,81 17.5,84.7 17.5,89.3 C17.5,93.5 20.6,97 24.7,97.5 L17.6,111.9 L17.6,111.9 L17.6,111.9 L17.6,111.9 Z' id='Mullvad_Fur' fill='%23D0933A' /%3E%3Cpath d='M29.2,81.5 C28.2,81.1 27,80.8 25.9,80.8 C21.3,80.8 17.6,84.5 17.6,89.1 C17.6,93.1 20.5,96.5 24.3,97.3 C24.4,97.3 24.4,97.3 24.5,97.3 C27,96.5 32,89.8 31.2,85.6 C30.9,84.1 30.2,82.7 29.2,81.5 L29.2,81.5 L29.2,81.5 L29.2,81.5 Z' id='Mullvad_Nose' fill='%23FFCC86' /%3E%3Cpath d='M102.1,70.8 C100.6,66.7 101,61.4 103.1,56.4 C106.1,49.5 111.8,44.9 117.2,44.9 C118.3,44.9 119.3,45.1 120.3,45.5 C123.4,42.7 127,40.4 131,38.8 C153.1,30 185.4,45.7 193.7,67.4 C197.7,77.9 196.5,89.4 193.1,99.9 C190.3,108.5 180.1,120.9 183.9,130.3 C182.4,129.9 150.8,120.1 142,114.5 C127.9,105.7 115.2,94.9 105.7,86.5 L105.4,86.2 L73.3,71 C72.9,70.8 72.5,70.6 72.2,70.4 C76.8,70.4 94.3,72.5 102.1,70.8' id='Mullvad_Helmet' fill='%23FDD321' /%3E%3Cg id='Helmet_Lamp' transform='translate(103.000000, 46.000000)' fill-rule='nonzero'%3E%3Cpath d='M8.6,28.4 C7.7,28.4 6.9,28.2 6.3,27.9 C4.7,27.2 3.5,25.9 2.7,23.9 C1.3,20.5 1.7,15.8 3.6,11.4 C6.1,5.7 10.8,1.7 15.1,1.7 C15.9,1.7 16.7,1.9 17.5,2.2 C19.6,3.1 21.1,5.2 21.6,8.2 C22.2,11.4 21.7,15.1 20.1,18.6 C17.6,24.3 12.8,28.4 8.6,28.4 Z' id='Path' fill='%23FFFFFF' /%3E%3Cpath d='M15,3.3 C15.6,3.3 16.2,3.4 16.8,3.7 C18.4,4.4 19.6,6.2 20,8.6 C20.5,11.5 20.1,14.9 18.6,18.1 C16.4,23.2 12.1,26.9 8.5,26.9 C7.9,26.9 7.3,26.8 6.8,26.6 L6.8,26.6 L6.8,26.6 C5.3,26 4.5,24.6 4.1,23.5 C2.9,20.5 3.2,16.1 4.9,12.1 C7.2,7 11.4,3.3 15,3.3 M15,0.3 C10.2,0.3 4.9,4.7 2.1,11 C-2.22044605e-16,15.7 -0.3,20.8 1.2,24.7 C2.1,27 3.6,28.6 5.5,29.5 C6.4,29.9 7.4,30.1 8.5,30.1 C13.3,30.1 18.6,25.7 21.3,19.4 C23,15.6 23.5,11.6 22.9,8.1 C22.3,4.6 20.5,2.1 17.9,1 C17.1,0.5 16.1,0.3 15,0.3 L15,0.3 Z' id='Shape' fill='%231D2A3A' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A

<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE NETSCAPE-Bookmark-file-1>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
</head>
<body>
<h1>Bookmarks</h1>

<dl><p>
    <dt><a href="https://mullvad.net/" icon="@mullvad_icon@">Mullvad VPN</a></dt>
</dl><p>
</body>
</html>
